# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.venv/
env/
venv/
ENV/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# Project-related
.ruff_cache/
logs/
.codex